.heading{
    display: flex;
    align-items: center;
}

.image{
    width: 90px;
    height: 60px;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
}

.sub{
    display:flex;
    justify-content: space-evenly;
}

.main{
    display:flex;
    justify-content: space-between;
}

.tweet{
    border-bottom:1px solid #DBDBDB;
    padding: 10px;
}

.views{
    margin-right: 10px;
    font: Regular 10px/20px Montserrat;
letter-spacing: 0px;
color: #F52D5C;
font-size: 14px;
}

.share{
    font: Regular 10px/20px Montserrat;
letter-spacing: 0px;
color: #54B5F5;
font-size: 14px;
}

.image1{
    margin-right: 5px;
}

.heading h2{
    font-size: 20px;
    font-weight: bold;
}
.value{
    display:flex;
    flex-direction: column;
}

.value h2{
    
    font: SemiBold 12px/24px Montserrat;
letter-spacing: 0px;
color: #252525;
font-size: 14px;
margin-bottom:0px!important;
line-height: 1rem;
}

p{
    margin-bottom: 0rem!important;
}

.description{
    font: Regular 10px/15px Montserrat;
letter-spacing: 0px;
color: #252525;
font-size: 12px;
}

.date{
    font: Regular 10px/20px Montserrat;
letter-spacing: 0px;
color: #252525;
font-size: 12px;
}

.subheading{
    font: Regular 12px/24px Montserrat;
letter-spacing: 0px;
color: #252525;
font-size: 12px;
}