.label{
    font: SemiBold 16px/19px Montserrat;
    letter-spacing: 0px;
    color: #30313A;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}

.less{
    display: inline-block;
    height: 14px;
    width: 14px;
    background: #FFC4C6 0% 0% no-repeat padding-box;
border-radius: 3px;
text-transform: capitalize;
margin-right: 5px;
}

.more{
    display: inline-block;
    height: 14px;
    width: 14px;
    background: #FF0019 0% 0% no-repeat padding-box;
border-radius: 3px;
text-transform: capitalize;
margin-right: 5px;
}

.color{
    display: flex;
    
}

.color p{
    margin-bottom: 0rem;
    padding-bottom: 0;
    text-transform: capitalize;
    padding-right: 10px;
    font-size: 16px;
}



.colorMain{
    display: flex;
    justify-content: space-between;
}


@media (max-width: 530px){
    .colorMain{
        text-align: center;
        flex-direction: column;
    }
    .color{
        text-align: center;
        margin: 0 auto;
    }
    .label{
        font-size: 18px;
    }
    .color p{
        font-size: 18px;
    }
}

@media (min-width:700) and (max-width: 992px){

    .label{
        font-size: 30px;
    }
    .color p{
        font-size: 30px;
    }
}