.faq{
    background-image: url('../../assests/images/Capture.PNG') ;
    background: transparent url(/static/media/Capture.16832f4a.PNG) no-repeat center center /cover;
    height: 700px;
}

.overlay{
    height:100%;
    background: rgba(28, 40, 51 ,0.7);
}


.image{
    width: 400px;
    height: 250px;
    margin-right: 30px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
}

.heading{
    font-size: 140px;
    font-weight: bold;
}

.boxes{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

.box{
    background-color: white;
    width: 200px;
    height: 200px;
    border: 2px solid gray; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;   
    text-align: center;
}


.subImage{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

@media (max-width:700px){
    .boxes{
        flex-direction: column;
        margin-top:60px
    }
    .box{
        display: block;
        width: 100%;
    }
    .heading{
        font-size: 80px;
    }
}