.faq{
    background-image: url('../../assests/images/Capture.PNG') ;
    background: transparent url(/static/media/Capture.16832f4a.PNG) no-repeat center center /cover;
    height: 600px;
    opacity:0.8
}