.CountryImage{
    height:30px;
    width:15%;
}

.Country{
    border: 1px solid black;
    box-shadow: 0px 5px 20px #1425401A;
border-radius: 8px;
background: #FFFFFF;
display:flex;
padding:10px;
}


.CountryLabel{
    font: Medium 16px/19px Montserrat;
letter-spacing: 0px;
color: #30313A;
font-weight: bold;
padding-left:10px;
}

.Flex{
    display: flex;
    
    
}

.FlexCases{
    display: flex;
}

.p{
    margin-bottom:0px;
    padding-bottom:0px;
}