.CountryImage{
    height:30px;
    width:20%;
}
.Country{
    box-shadow: 0px 5px 20px #1425401A;
border-radius: 8px;
background: #FFFFFF;
display:flex;
padding:10px;
margin:10px 0px;
}

ul{
    list-style: none;
}


.CountryLabel{
    font: Medium 16px/19px Montserrat;
letter-spacing: 0px;
color: #30313A;
font-weight: bold;
padding-left:10px;
}

.Flex{
    display: flex;
    
    
}

.FlexCases{
    display: flex;
}

.p{
    margin-bottom:0px;
    padding-bottom:0px;
}

.active{
    padding-right: 5px;
    font-size: 12px;
    color: #7A7D89;
    margin-top: 10px;
    border-right: 1px solid #7A7D89;
    font-weight: bold;
}

.recover{
    font-size: 12px;
    color:#7A7D89;
    padding-left: 5px;
    font-size: 12px;
    margin-top: 10px;
    font-weight: bold;
}