.tweets{
    padding:10px;
    background-color: white;
    margin:10px;
    margin-right: 20px;
    border-radius: 8px;
}

.tweet{
    max-height: 480px;
    overflow-y: scroll;
    overflow-x:hidden;
}

.tweet::-webkit-scrollbar {
    width: 3px;
    background: #dfe1e8;
}

.tweet::-webkit-scrollbar-thumb {
    background: #7a7d89;

}

.heading{
    font-size: 22px;
    color: #30313A;
    font-weight: bold;
    padding-bottom: 0px!important;
}

.heading img{
    margin-left: 10px;
}

@media (min-width:600px) and (max-width:800){
    .heading{
        font-size: 30px;
        text-align: center;
        margin:0 auto;
        margin-left: 60px;
    }
    
}

@media (max-width:992px){
    .tweets{
        margin-right: 10px;
    }
}
