.App{
  margin:0 auto;
  max-width:1366px;
}


  .Recovery_Recovery__1Va2W .CircularProgressbar .CircularProgressbar-path {
    stroke:green;
  }
  
  .CircularProgressbar-path {
    stroke: red;
  }
  .CircularProgressbar-trail {
    stroke: gray;
  }
  
  .CircularProgressbar-text {
    fill: yellow;
  }
  
  .CircularProgressbar-background {
    fill: green;
  }

  .Recovery_Recovery__1Va2W .CircularProgressbar .CircularProgressbar-trail {
    stroke: #d6d6d6;
    stroke-linecap: round;
  }

