body {
  margin: 10px auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jvectormap-zoomin, .jvectormap-zoomout, .jvectormap-goback {
  position: absolute;
  left:unset!important;
  right:20px!important;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: green;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

