

.Recovery{
    
    padding:15px;
    background: #FFFFFF ;
box-shadow: 0px 5px 20px #1425401A;
border-radius: 8px;
margin:10px;
margin-top:20px;
margin-right:20px
}

.Recovery p{
    margin-bottom: 0rem!important;
}



.CaseLabel{
    display:flex;
    margin:0 auto;
    
}

.RecoveryLabel{
    font: SemiBold 18px/22px Montserrat;
letter-spacing: 0px;
color: #30313A;
font-weight: bold;
text-align: center;
padding-bottom:15px;
margin:0px;

}

.RecoveryDetails{
    text-align: left;
    font: Medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #52586A;
    margin-top: 20px;
    padding:0px 5px;
    font-size: 14px;
}

.newRecoveryDetails{
    text-align: left;
    font: Medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #52586A;
    margin-top: 20px;
    padding:0px 5px;
    border-right: 1px solid #52586A;
    font-size: 14px;
}


.Special{
    padding-right:10px;
    border-right: 1px solid black;
}

