

.Recovery{
    
    padding:25px 15px;
    background: #FFFFFF ;
box-shadow: 0px 5px 20px #1425401A;
border-radius: 8px;
margin-top:15px;
}



.CaseLabel{
    display:flex;
    text-align: center;
    
}

.RecoveryLabel{
    font: SemiBold 18px/22px Montserrat;
letter-spacing: 0px;
color: #30313A;
font-weight: bold;
text-align: center;
padding-bottom:15px;
margin:0px;

}

.RecoveryDetails{
    text-align: left;
    font: Medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #52586A;
    padding-top:15px;
    margin:0px;
}

.Special{
    padding-right:10px;
    border-right: 1px solid black;
}